{% extends '::base.html.twig' %}
{% macro subFieldsHeader(fields) %}
    {% for key, field in fields %}
        {% if field is iterable %}
            <th>{{ key }}</th>
        {% else %}
            <th>{{ field }}</th>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro subFieldsDetail(field, fieldValue) %}
    {% import _self as macros %}
    <div><a href="{{ path('record_show', { 'id': fieldValue.id }) }}">{{ fieldValue.name }}</a></div>
    <table class="table table-striped dragtable">
        <thead><tr>{{ macros.subFieldsHeader(field) }}</tr></thead>
        <tbody><tr>{{ macros.subFieldsCell(field, fieldValue) }}</tr></tbody>
    </table>
{% endmacro %}
{% macro subFieldsCell(fields, entity) %}
    {% import _self as macros %}
    {% for key, field in fields %}
        {% if field is iterable %}
            {% set fieldValue = entity.__get(key) %}
            <td>
                {% if fieldValue is iterable %}
                    {% for subFieldValue in fieldValue %}
                        {{ macros.subFieldsDetail(field, subFieldValue) }}
                    {% endfor %}
                {% elseif fieldValue is not null %}
                    {{ macros.subFieldsDetail(field, fieldValue) }}
                {% endif %}
            </td>
        {% else %}
            {% set fieldFile = entity.getFieldValueFile(field) %}
            {% if fieldFile %}
                <td>
                    <a href="{{ asset(fieldFile.webPath) }}">
                        {{ fieldFile.originalName }}
                    </a>
                </td>
            {% else %}
                {% set fieldValue = entity.getValueAndType(field) %}
                {% if fieldValue['value'] is iterable %}
                    <td>
                        {% if fieldValue['type'] == 'Table' %}
                            <table class="table table-striped">
                                {% for row in fieldValue['value'] %}
                                    <tr>
                                        {% for cell in row %}
                                            <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <ul>
                                {% for value in fieldValue['value'] %}
                                    <li>{{ value }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                {% else %}
                    {% if fieldValue['type'] == 'Date' %}
                        <td>{{ fieldValue['value']|date('Y-m-d') }}</td>
                    {% elseif fieldValue['type'] == 'Time' %}
                        <td>{{ fieldValue['value']|date('H:i:s') }}</td>
                    {% elseif fieldValue['type'] == 'Date Time' %}
                        <td>{{ fieldValue['value']|date('Y-m-d H:i:s') }}</td>
                    {% elseif fieldValue['type'] == 'Boolean' %}
                        <td>
                            {% if fieldValue['value'] %}
                                {% trans %}Yes{% endtrans %}
                            {% else %}
                                {% trans %}No{% endtrans %}
                            {% endif %}  
                        </td>
                    {% else %}
                        <td>{{ fieldValue['value'] }}</td>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/favorite/add.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        Favorites.saveRoute = '{{ path('favorite_add') }}';
        Favorites.savePrompt = '{% trans %}Please enter a unique favorite name{% endtrans %}';
        Favorites.csrfToken = '{{ csrf_token('add-favorite') }}';
    </script>
{% endblock %}
{% block body -%}
    {% import _self as macros %}
    <h1 class="results-title">{% trans %}Records{% endtrans %}
        {% if app.user %}
            <button type="button" class="save-search btn btn-primary">
                <span class="glyphicon glyphicon-star"></span>
            </button>
        {% endif %}
        <button type="button" class="print-page btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>
        </button>
        <button type="button" class="export-page-to-pdf btn btn-primary">
            <span class="fa fa-file-pdf-o"></span>
        </button>
    </h1>
    <div class="count bg-info">
        {% transchoice count %}
            {0} There are no records|{1} There is one record|]1,Inf] There are %count% records
        {% endtranschoice %}
    </div>
{% if count > 0 %}
    {# {{ dump(shownFields) }} #}
    <table class="table table-striped records_list dragtable">
        <thead>
            <tr>
                <th{% if pagination.isSorted('r.name') %} class="sorted"{% endif %}>
                   {{ knp_pagination_sortable(pagination, 'Name'|trans, 'r.name') }}
                </th>
                <th{% if pagination.isSorted('rt.name') %} class="sorted"{% endif %}>
                   {{ knp_pagination_sortable(pagination, 'Record Type'|trans, 'rt.name') }}
                </th>
                {{ macros.subFieldsHeader(shownFields) }}
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('record_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.recordType.name }}</td>
                {{ macros.subFieldsCell(shownFields, entity) }}
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('record_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('record_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}
<ul class="list-unstyled">
    <li><a href="{{ path('record_wizard') }}" class="btn btn-primary">{% trans %}New{% endtrans %}</a></li>
</ul>
{% endblock %}
