{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/search/advanced_form.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body -%}
<h1>{% trans %}Advanced Search{% endtrans %} - <em>{{ recordType.name }}</em></h1>
{% if not form.vars.valid %}
    {% for error in form.vars.errors %}
        <p class="text-danger">{{ error.message }}<p class="text-danger">
    {% endfor %}
{% endif %}
{{ form_start(form) }}
    {% for field in form %}
        {% if form.submit == field %}
            {{ form_widget(field, {'attr': {'class': 'btn btn-primary'}}) }}
        {% else %}
            {{form_row(field)}}
        {% endif %}
    {% endfor %}
{{ form_end(form) }}
{% endblock %}
