{% extends '::base.html.twig' %}
{% block body -%}
<h1>{% trans %}Simple Search{% endtrans %}</h1>
{% if not form.vars.valid %}
    {% for error in form.vars.errors %}
        <p class="text-danger">{{ error.message }}<p class="text-danger">
    {% endfor %}
{% endif %}
{{ form_start(form) }}
    {% for field in form %}
        {% if form.submit == field %}
            {{ form_widget(field, {'attr': {'class': 'btn btn-primary'}}) }}
        {% else %}
            {{form_row(field)}}
        {% endif %}
    {% endfor %}
{{ form_end(form) }}
{% endblock %}