/* General HTML/Body rules */
html,
body {
  height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}
/* Header */
.header-logo {
    width: 160px;    
}
.footer-logo {
    height: 20px;    
}
/* Footer */
/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #f5f5f5;
}
#footer .container {
    padding-top: 8px;
}
#footer .footer-item {
    display: inline;
    padding-right: 40px;
}
#footer .footer-item img {
    padding-right: 12px;
}
/* Hidden JavaScript div */
#javascript {
    visibility: hidden;
    display: none;
}
/* Sign in */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Forms */
.form-label {
    font-size: 24px;
}
/* Media Previews */
.form-image-preview {
    max-width: 120px;
}
.image-preview {
    display: block;
    max-width: 60%;
}
.video-preview {
    display: block;
    max-width: 60%;
}
.audio-preview {
    display: block;
    max-width: 60%;
}
/* Nested Tables */
.nested-table {
    width: 90%;
    margin-left: auto ;
    margin-right: auto ;
    overflow:hidden;
    border-radius:10px;
}
.nested-table th,
.nested-table td {
   background-color: #eee;
}
/* Sortable Tables */
.choices li,
.tablecolumns li {
    list-style-type:none;
}
/* Date/Type display */
div[id*='_date'],
div[id*='_time'] {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
/* Favorites */
.favorite {
    padding-bottom: 10px;
}
/* Gallery */
#canvas-container {
    background-color: #444;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 10000;
}
#canvas {
    background-color: #222;
    width: 100%;
    height: 100%;
}
.gallery-thumbnail-selected {
    background-color: #428bca;
    border-radius:10px;
}
.gallery-thumbnail {
    padding: 10px;
    max-width: 250px;
}
.gallery-mode-toggle {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10001;
}
/* Spinner */
.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;
  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}
.has-spinner.active {
  cursor:progress;
}
.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}
.handle {
    cursor:grab;
}