/* Show navbar */
.navbar {
    display: block !important;
}
a[href]:after {
    content: none;
}
button,
canvas,
#canvas,
#canvas-container,
input[type="button"] {
    visibility: hidden;
    display: none;
}