{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/recordtype/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        RecordTypes.strings.addField        = "{% trans %}Add Field{% endtrans %}";
        RecordTypes.strings.addChoice       = "{% trans %}Add Choice{% endtrans %}";
        RecordTypes.strings.addTableColumn  = "{% trans %}Add Column{% endtrans %}";
        RecordTypes.strings.delete          = "{% trans %}Delete{% endtrans %}";
    </script>
{% endblock %}
{% block body -%}
    <h1>{% trans %}Edit Record Type{% endtrans %}</h1>
    {{ form_start(edit_form) }}
        {{ form_row(edit_form.name) }}
        <h3>{% trans %}Fields{% endtrans %}</h3>
        <ul class="field-types list-unstyled form-sortable"
            data-prototype="                    
                                                {{ '<div class="field-type-form-elements">'|e }}
                                                {{ '<span class="handle handle glyphicon glyphicon-move"></span>'|e }}
                                                {{ '<div class="displayOrder">'|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.displayOrder)|e }}
                                                {{ '</div>'|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.name)|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.fieldType)|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.required)|e }}
                                                {{ '</div>'|e }}
            "
            data-prototype-record-type="        {{ '<div class="referenced-record-type">'|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.referencedRecordType)|e }}
                                                {{ '</div>'|e }}
                                                "
            data-prototype-choice="    
                                                {{ '<span class="handle handle glyphicon glyphicon-move"></span>'|e }}
                                                {{ '<div class="displayOrderChoice">'|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.choices.vars.prototype.displayOrder)|e }}
                                                {{ '</div>'|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.choices.vars.prototype.name)|e }}
            "
            data-prototype-tablecolumn="    
                                                {{ '<span class="handle handle glyphicon glyphicon-move"></span>'|e }}
                                                {{ '<div class="displayOrderTableColumn">'|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.tableColumns.vars.prototype.displayOrder)|e }}
                                                {{ '</div>'|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.tableColumns.vars.prototype.name)|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.tableColumns.vars.prototype.recordType)|e }}
            "
            data-prototype-multiple-selection=" {{ '<div class="multiple-selection">'|e }}
                                                {{ form_row(edit_form.recordTypeFields.vars.prototype.multipleSelection)|e }}
                                                {{ '</div>'|e }}
            "
        >
            {% for fieldType in edit_form.recordTypeFields %}
                <li class="field-type">
                    <span class="handle glyphicon glyphicon-move"></span>
                    <div class="field-type-form-elements" data-index="{{ loop.index0 }}">
                        <div class="displayOrder">
                            {{ form_row(fieldType.displayOrder) }}
                        </div>
                        {{ form_row(fieldType.name) }}
                        {{ form_row(fieldType.fieldType) }}
                        {{ form_row(fieldType.required) }}
                        {% if fieldType.vars.value.fieldType.name == "Record"
                           or fieldType.vars.value.fieldType.name == "Choice" %}
                            <div class="multiple-selection">
                                {{ form_row(fieldType.multipleSelection) }}
                            </div>
                        {% endif %}
                        {% if fieldType.vars.value.fieldType.name == "Record" %}
                            <div class="referenced-record-type">
                                {{ form_row(fieldType.referencedRecordType) }}
                            </div>
                        {% endif %}
                        {% if fieldType.vars.value.fieldType.name == "Choice" %}
                            <div class="choices" data-index="{{ fieldType.choices.count }}">
                                <ul class="form-sortable">
                                    {% for choice in fieldType.choices %}
                                        <li>
                                            <span class="handle glyphicon glyphicon-move"></span>
                                            <div class="displayOrderChoice">
                                                {{ form_row(choice.displayOrder) }}
                                            </div>
                                            {{ form_row(choice.name) }}
                                        </li>
                                    {% endfor %}
                                    {% if fieldType.choices %}
                                        <a href="#" class="add_choice_link btn btn-info">Add Choice</a>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if fieldType.vars.value.fieldType.name == "Table" %}
                            <div class="tablecolumns">
                                <ul class="form-sortable" data-index="{{ fieldType.tableColumns.count }}">
                                    {% for tablecolumn in fieldType.tableColumns %}
                                        <li>
                                            <span class="handle glyphicon glyphicon-move"></span>
                                            <div class="displayOrderTableColumn">
                                                {{ form_row(tablecolumn.displayOrder) }}
                                            </div>
                                            {{ form_row(tablecolumn.name) }}
                                            {{ form_row(tablecolumn.recordType) }}
                                        </li>
                                    {% endfor %}
                                    {% if fieldType.tableColumns %}
                                        <a href="#" class="add_tablecolumn_link btn btn-info">Add Column</a>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% do edit_form.recordTypeFields.setRendered %}
    {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(edit_form) }}
    <ul class="recordtype_actions list-unstyled">
        <li>{{ form_delete(delete_form) }}</li>
        <li><a href="{{ path('recordtype') }}" class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a></li>
    </ul>
{% endblock %}