{% extends '::base.html.twig' %}
{% block body -%}
<h1>{% trans %}Record Types{% endtrans %}</h1>
<div class="count bg-info">
    {% transchoice count %}
        {0} There are no record types|{1} There is one record type|]1,Inf] There are %count% record types
    {% endtranschoice %}    
</div>
{% if count > 0 %}
    <table  class="table table-striped recordtypes_list">
        <thead>
            <tr>
                <th{% if pagination.isSorted('rt.name') %} class="sorted"{% endif %}>
                   {{ knp_pagination_sortable(pagination, 'Name'|trans, 'rt.name') }}
                </th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('recordtype_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('recordtype_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a></li>
                            <li><a href="{{ path('recordtype_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}
<ul class="list-unstyled">
    <li><a href="{{ path('recordtype_new') }}" class="btn btn-primary">{% trans %}New{% endtrans %}</a></li>
</ul>
{% endblock %}