{% extends '::base.html.twig' %}

{% block body -%}
<h1>{% trans %}Record Type{% endtrans %}: {{ entity.name }}</h1>
<table class="table record_properties">
    <tbody>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}Fields{% endtrans %}</th>
            <td>
                <ul class="list-unstyled">
                    {% for field in entity.recordTypeFields %}
                        <li>{{ field.name }} - <em>{{ field.fieldType.name }}
                                {% if field.referencedRecordType is not null %}
                                   ({{ field.referencedRecordType.name }})
                                {% endif %}
                                {% if field.choices.empty == false %}
                                    <ul>
                                        {% for choice in field.choices %}
                                            <li>{{ choice.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </em>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>{% trans %}Created{% endtrans %}</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Updated{% endtrans %}</th>
            <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>
<ul class="recordtype_actions list-unstyled">
    <li><a href="{{ path('recordtype_edit', { 'id': entity.id }) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a></li>
    <li>{{ form_delete(delete_form) }}</li>
    <li><a href="{{ path('recordtype') }}" class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a></li>
</ul>
{% endblock %}
