<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CrossingBordersX{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/crossingbordersx/css/jquery-ui/jquery-ui.min.css'
                           'bundles/crossingbordersx/css/jquery-dragtable/dragtable.css'
                           'bundles/crossingbordersx/bootstrap/css/bootstrap.min.css'
                           'bundles/crossingbordersx/font-awesome/css/font-awesome.min.css'
                           'bundles/crossingbordersx/css/jquery-ui-timepicker/jquery-ui-timepicker-addon.css'
                           'bundles/crossingbordersx/css/style.css'
                           filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" rel="stylesheet" media="all" />
            {% endstylesheets %}
            {% stylesheets 'bundles/crossingbordersx/css/style-print.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" rel="stylesheet" media="print" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/crossingbordersx/images/favicon.ico') }}" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
            {% block header %}
             <div class="navbar navbar-default navbar-static-top" role="navigation">
               <div class="container-fluid">
                 <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{ path('home') }}">
                    <img class="header-logo" alt="CrossingBordersX" src="{{ asset('bundles/crossingbordersx/images/logo.png') }}" />
                  </a>
                 </div>
                 <div class="navbar-collapse collapse">
                   {% block menu %}
                   <ul class="nav navbar-nav">
                     <li><a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
                     <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Records{% endtrans %}<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                         <li><a href="{{ path('record') }}">{% trans %}All{% endtrans %}</a></li>
                         <li><a href="{{ path('record_wizard_create') }}">{% trans %}New{% endtrans %}</a></li>
                       </ul>
                     </li>
                     <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Record Types{% endtrans %}<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                         <li><a href="{{ path('recordtype') }}">{% trans %}All{% endtrans %}</a></li>
                         <li><a href="{{ path('recordtype_new') }}">{% trans %}New{% endtrans %}</a></li>
                       </ul>
                     </li>
                     <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Search{% endtrans %}<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                         <li><a href="{{ path('search_simple') }}">{% trans %}Simple{% endtrans %}</a></li>
                         <li><a href="{{ path('search_advanced_wizard') }}">{% trans %}Advanced{% endtrans %}</a></li>
                       </ul>
                     </li>
                     <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Gallery{% endtrans %}<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                         <li><a href="{{ path('gallery_simple') }}">{% trans %}Simple{% endtrans %}</a></li>
                         <li><a href="{{ path('gallery_advanced_wizard') }}">{% trans %}Advanced{% endtrans %}</a></li>
                       </ul>
                     </li>
                     <li><a href="{{ path('contact') }}">{% trans %}Contact{% endtrans %}</a></li>
                     <li><a href="{{ path('about') }}">{% trans %}About{% endtrans %}</a></li>
                   </ul>
                   <ul class="nav navbar-nav navbar-right">
                     {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Favorites{% endtrans %}<b class="caret"></b></a>
                            {{ render(controller('CrossingBordersXBundle:Favorite:typeList')) }}
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_profile_show') }}">{% trans %}User Profile{% endtrans %}</a></li>
                                <li><a href="{{ path('fos_user_profile_edit') }}">{% trans %}Edit User Profile{% endtrans %}</a></li>
                                <li><a href="{{ path('fos_user_change_password') }}">{% trans %}Change Password{% endtrans %}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('user') }}">{% trans %}User Management{% endtrans %}</a></li>
                                {% endif %}
                                <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                            </ul>
                        </li>
                     {% else %}
                       <li><a href="{{ path('fos_user_security_login') }}">{% trans %}Login{% endtrans %}</a></li>
                       <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}Register{% endtrans %}</a></li>
                     {% endif %}                   
                   </ul>
                 {% endblock %}
                 </div>
               </div>
             </div>
            {% endblock %}
            </div>
            <div id=body class="container">
                {% block body %}
                    <p>Base Content</p>
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            {% block footer %}
                <div class="container">
                    <span class="text-muted">
                        <div class="footer-item">
                            Developed by: <a href="http://www.fct.unl.pt/"><img class="footer-logo" alt="FCT/UNL Logo" src="{{ asset('bundles/crossingbordersx/images/fctunl-logo.svg') }}" /></a>
                                          <a href="http://nova-lincs.di.fct.unl.pt/"><img class="footer-logo" alt="NOVA-LINCS Logo" src="{{ asset('bundles/crossingbordersx/images/nova-lincs-logo.png') }}" /></a>
                        </div>
                        <div class="footer-item">
                            Powered by: <a href="http://www.w3.org/TR/html5/">  <img class="footer-logo" alt="HTML5 Logo" src="{{ asset('bundles/crossingbordersx/images/html5-logo.svg') }}" />        </a>
                                        <a href="http://symfony.com/">          <img class="footer-logo" alt="Symfony Logo" src="{{ asset('bundles/crossingbordersx/images/symfony-logo.svg') }}" />    </a>
                        </div>
                        <div class="footer-item">Licensed under: <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html"><img class="footer-logo" alt="GNU GPLv3 Logo" src="{{ asset('bundles/crossingbordersx/images/license-logo.svg') }}" /></a></div>
                    </span>
                </div>
            {% endblock %}
        </div>
        {% block canvas %}{% endblock %}
        <div id="javascript">
            {% block javascripts %}
                {% javascripts '@CrossingBordersXBundle/Resources/public/js/jquery/jquery-2.1.3.min.js'
                               '@CrossingBordersXBundle/Resources/public/js/jquery-ui/jquery-ui.min.js'
                               '@CrossingBordersXBundle/Resources/public/js/jquery-ui-timepicker/jquery-ui-timepicker-addon.js'
                               '@CrossingBordersXBundle/Resources/public/js/jquery-dragtable/jquery.dragtable.js'
                               '@CrossingBordersXBundle/Resources/public/js/modernizr/modernizr.min.js'
                               '@CrossingBordersXBundle/Resources/public/bootstrap/js/bootstrap.min.js'
                               '@CrossingBordersXBundle/Resources/public/js/kineticjs/kinetic-v5.1.0.min.js'
                               '@CrossingBordersXBundle/Resources/public/js/html2canvas/html2canvas.min.js'
                               '@CrossingBordersXBundle/Resources/public/js/*' %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
                <script type="text/javascript" src={{ asset('bundles/crossingbordersx/js/ckeditor/ckeditor.js') }}></script>
                <script type="text/javascript" src={{ asset('bundles/crossingbordersx/js/ckeditor/adapters/jquery.js') }}></script>
            {% endblock %}
            <!-- CKEditor -->
            <script type="text/javascript">
                Utilities.currentRoute  = '{{ app.request.pathinfo }}';
                Utilities.exportToPDFRoute  = '{{ path('utility_export_pdf') }}';
            </script>
        </div>
    </body>
</html>