{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {% for field in form %}
        {% if form.recaptcha == field %}
            {{ form_row(field, { 'attr': { 'options' : { 'theme' : 'clean' } } }) }}
        {% elseif form.submit == field %}
            {{ form_row(field, { 'label':'registration.submit'|trans, 'attr': { 'class' : 'btn btn-primary' } }) }}
        {% else %}
            {{ form_row(field) }}
        {% endif %}
    {% endfor %}
</form>