{% extends 'form_div_layout.html.twig' %}
{% block form_row %}
{% spaceless %}
    {% if (form.vars.plain is defined and form.vars.plain == true) %}
        {{ form_widget(form) }}
    {% else %}
        <div class="form_row form-group">
            <div class="col-sm-2">
                {{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(form) }}
            </div>
            <div class="col-sm-10">
                {% if (form.vars.expanded is defined and form.vars.expanded == true)
                   or (form.vars.subfield is defined and form.vars.subfield == true)
                   or (form.vars.compound is defined and form.vars.compound == true)%}
                    {{ form_widget(form) }}
                {% else %}
                    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% autoescape false %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% endautoescape %}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_start %}
    {% set attr = attr|merge({'class': 'form-horizontal'})%}
    {{ parent() }}
{% endblock %}

{# Custom choice widget expanded to support Bootstrap radio and checkbox #}
{% block choice_widget_expanded %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
    {% if form.vars.multiple is defined and form.vars.multiple == true %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' checkbox')}) %}
    {% else %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' radio')}) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}" {% endfor %}>
            {{ form_widget(child) }}
            {{ child.vars.label|trans({}, translation_domain) }}
        </label>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% set attr = attr|merge({'class': 'checkbox'})%}
    {{ parent() }}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% set attr = attr|merge({'class': 'radio'})%}
    {{ parent() }}
{% endblock radio_widget %}
    
{% block submit_widget %}
{% spaceless %}
    {% set type = type|default('submit') %}
    {% if attr.class is not defined %}
        {% set attr = attr|merge({'class': 'btn btn-primary'})%}
    {% endif %}
    {% set class = attr.class %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock submit_widget %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="text-danger list-unstyled">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# form_delete block to display delete buttons easily #}
{% block form_delete %}
    {{ form_start(form, {'attr': {'onsubmit':'return confirm("'~'Are you sure you want to delete?'|trans~'")'}})}}
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-danger'}})}}
    {{ form_end(form) }}
{% endblock form_delete %}

{# ---- Table Form Blocks ---- #}
{# Table Widget #}
{% block table_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'class': 'table-form table-condensed'}) %} 
        {% set attr = attr|merge({'data-prototype-row': form_widget(prototype) }) %}
    {% endif %}
    {% if form.parent is empty %}
        {{ form_errors(form) }}
    {% endif %}
    <table {{ block('widget_container_attributes') }}>
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in form.children %}
                {{ form_widget(row) }}
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endspaceless %} 
{% endblock table_widget %}

{# Table Row Widget #}
{% block table_row_widget %}
{% spaceless %}
    <tr {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <td>{{ form_widget(child) }}</td>
        {% endfor %}
        {% if form.parent is empty %}
            <td>{{ form_errors(form) }}</td>
        {% endif %}
        <td><button type="button" class="remove_row_link btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
    </tr>
{% endspaceless %}
{% endblock table_row_widget %}
    
{# Date/Time Widgets #}
{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date) }}
            {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block formlabel_widget %}
    <div {{ block('widget_container_attributes') }}><span class="form-label">{{ form_label(form) }}</span></div>
{% endblock formlabel_widget %}