{% extends 'CrossingBordersXBundle::Form/fields.html.twig' %}
{% block file_widget %}
    {% spaceless %}
    <div class="form-file"
         {% if show_delete and (show_link or show_image) %}
            data-form-file="{{ block('form_widget_simple')|e }}"
            data-form-hidden="{% set originalType = type|default('text') %}
                              {% set originalValue = value %}
                              {% set type = 'hidden' %}
                              {% set value = 'delete' %}
                              {{ block('form_widget_simple')|e }}
                              {% set type = originalType %}
                              {% set value = originalValue %}"
         {% endif %}
         >
        {{ block('form_widget_simple') }}
        {% if show_link or show_image %}
            <div class="form-file-link">
                <a href="{{ asset(file_path) }}">
                    {% if show_image %}
                            <div class="form-image">
                                <img class="form-image-preview img-thumbnail"
                                     alt="{{ filename }}"
                                     src="{{ asset(thumbnail_path) }}" />
                            </div>
                    {% endif %}
                    {% if show_link %}
                        {% if filename is not null %}
                            {{ filename }}
                        {% else %}
                            {% trans %}File{% endtrans %}
                        {% endif %}
                    {% endif %}
               </a>
           </div>
        {% endif %}
        {% if show_delete and (show_link or show_image) %}
            <div class="form-file-delete">
                <button type="button" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
            </div>
            <div class="form-file-undo hidden">
                <button type="button" class="btn btn-primary">{% trans %}Undo{% endtrans %}</button>
                <small>{% trans %}Undo file removal or upload a new file{% endtrans %}</small>
            </div>
        {% endif %}
    </div>
    {% endspaceless %}
{% endblock %}