{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/favorite/add.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        Favorites.saveRoute = '{{ path('favorite_add') }}';
        Favorites.savePrompt = '{% trans %}Please enter a unique favorite name{% endtrans %}';
        Favorites.csrfToken = '{{ csrf_token('add-favorite') }}';
    </script>
{% endblock %}
{% block body -%}
    <h1>{% trans %}Records{% endtrans %}
        {% if app.user %}
            <button type="button" class="save-search btn btn-primary">
                <span class="glyphicon glyphicon-star"></span>
            </button>
        {% endif %}
        <button type="button" class="print-page btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>
        </button>
        <button type="button" class="export-page-to-pdf btn btn-primary">
            <span class="fa fa-file-pdf-o"></span>
        </button>
    </h1>
    <div class="count bg-info">
        {% transchoice count %}
            {0} There are no records|{1} There is one record|]1,Inf] There are %count% records
        {% endtranschoice %}    
    </div>
    {% if count > 0 %}
        <table class="table table-striped records_list">
            <thead>
                <tr>
                    <th{% if pagination.isSorted('r.name') %} class="sorted"{% endif %}>
                       {{ knp_pagination_sortable(pagination, 'Name'|trans, 'r.name') }}
                    </th>
                    <th{% if pagination.isSorted('rt.name') %} class="sorted"{% endif %}>
                       {{ knp_pagination_sortable(pagination, 'Record Type'|trans, 'rt.name') }}
                    </th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('record_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.recordType.name }}</td>
                    <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('record_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('record_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
<ul class="list-unstyled">
    <li><a href="{{ path('record_wizard') }}" class="btn btn-primary">{% trans %}New{% endtrans %}</a></li>
</ul>
{% endblock %}
