{% extends '::base.html.twig' %}
{% form_theme form 'CrossingBordersXBundle:Form:record_fields.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/record/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        Record.strings.addRow = "{% trans %}Add Row{% endtrans %}";
    </script>
{% endblock %}
{% block body -%}
<h1>{% trans %}New Record{% endtrans %}</h1>
{{ form_start(form) }}
    {% if not form.vars.valid %}
        <p class="text-danger">This record contains errors. Please review them below.</p>
    {% endif %}
    {% for field in form %}
        {% if form.submit == field %}
            {{ form_widget(field, {'attr': {'class': 'btn btn-primary'}}) }}
        {% else %}
            {{form_row(field)}}
        {% endif %}
    {% endfor %}
{{ form_end(form) }}
<ul class="record_actions list-unstyled">
    <li><a href="{{ path('record') }}" class="btn btn-default">Back to the list</a></li>
</ul>
{% endblock %}
