{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Record{% endtrans %}</h1>
    <table class="table record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            {% for field in fieldValues %}
                <tr>
                    <th>{{ field.recordTypeField.name }}</th>
                    <td>
                        {% if field.type == 'Choice' %}
                        <ul class="list-unstyled">
                            {% if field.isMultipleChoice %}
                                {% set inputType = 'checkbox' %}
                            {% else %}
                                {% set inputType = 'radio' %}
                            {% endif %}
                            {% for value in field.value %}
                                <li><input type="{{ inputType }}" checked="checked" disabled="disabled" />{{ value.name }}</li>
                            {% endfor %}
                            {% for value in field.notSelectedChoices %}
                                <li><input type="{{ inputType }}" disabled="disabled" />{{ value.name }}</li>
                            {% endfor %}
                        </ul>
                        {% elseif field.type == 'File' %}
                            <div class="row">
                                <a class="col-xs-12 preview-download-link" href="{{ asset(field.webPathOriginal) }}" download="{{ field.originalName }}">{{ field.originalName }}</a>
                            </div>
                            <div class="row">
                                {% if field.isImage %}
                                    <img   class="col-xs-12 image-preview" src="{{ asset(field.webPath) }}" alt="{{ field.originalName }}" />
                                {% elseif field.isVideo %} 
                                    <video class="col-xs-12 video-preview" src="{{ asset(field.webPathOriginal) }}" controls>
                                        {% trans %}Your browser does not support the <code>video</code> element.{% endtrans %}
                                    </video>
                                {% elseif field.isAudio %} 
                                    <audio class="col-xs-12 audio-preview" src="{{ asset(field.webPathOriginal) }}" controls>
                                        {% trans %}Your browser does not support the <code>audio</code> element.{% endtrans %}
                                    </audio>
                                {% endif %} 
                            </div>
                        {% elseif field.type == 'Records' %}
                            <ul class="list-unstyled">
                                {% for record in field.value %}
                                    <li><a href="{{ path('record_show', { 'id': record.id }) }}">{{ record.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% elseif field.type == 'Table' %}
                            <table class="table table-condensed nested-table">
                                <thead>
                                    <tr>
                                        {% for column in field.columns %}
                                            <th>{{ column.name }}</th>
                                        {% endfor %}  
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in field.rows %}
                                        <tr>
                                            {% for cell in row.cells %}
                                                {% if cell.value is null %}
                                                    <td><a href="{{ path('record_show', { 'id': cell.record.id }) }}">{{ cell.record.name }}</a></td>
                                                {% else %}
                                                    <td>{{ cell.value }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% elseif field.type == 'Boolean' %}
                            {% if field.value %}
                                {% trans %}Yes{% endtrans %}
                            {% else %}
                                {% trans %}No{% endtrans %}
                            {% endif %}  
                        {% elseif field.type == 'Date' %}
                            {{ field.value|date('Y-m-d') }}
                        {% elseif field.type == 'Time' %}
                            {{ field.value|date('H:i:s') }}
                        {% elseif field.type == 'DateTime' %}
                            {{ field.value|date('Y-m-d H:i:s') }}
                        {% elseif field.type == 'Text' %}
                            {{ field.value|raw }}
                        {% else %}
                            {{ field.value }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>{% trans %}Created{% endtrans %}</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updated{% endtrans %}</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions list-unstyled">
        <li><a class="btn btn-primary" href="{{ path('record_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a></li>
        <li>{{ form_delete(delete_form) }}</li>
        <li><a class="btn btn-default" href="{{ path('record') }}">{% trans %}Back to the list{% endtrans %}</a></li>
    </ul>
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'record'~entity.id } %}
{% endblock %}