{% extends '::base.html.twig' %}
{% block body -%}
    <h1>{% trans %}Choose a Record Type{% endtrans %}</h1>
    {{ form(form) }}
    <ul class="list-unstyled record_actions">
        <li><a href="{{ path('record') }}" class="btn btn-default">{% trans %}Back to the list{% endtrans %}</a></li>
    </ul>
{% endblock %}