{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>
    {{ form(edit_form) }}
    <ul class="record_actions list-unstyled">
        <li>{{ form_delete(delete_form) }}</li>
        <li><a class="btn btn-default" href="{{ path('user') }}">Back to the list</a></li>
    </ul>
{% endblock %}
