{% extends '::base.html.twig' %}
{% block body -%}
    <h1>{% trans %}Users{% endtrans %}</h1>
    <div class="count bg-info">
        {% transchoice count %}
            {0} There are no records|{1} There is one record|]1,Inf] There are %count% records
        {% endtranschoice %}    
    </div>
    {% if count > 0 %}
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>{% trans %}Username{% endtrans %}</th>
                    <th>{% trans %}Last login{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                        <td>
                            {% if entity.lastLogin is null %}
                                {% trans %}Never logged in{% endtrans %}
                            {% else %}
                                {{ entity.lastLogin|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                <li><a href="{{ path('user_show', { 'id': entity.id }) }}">show</a></li>
                                <li><a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
    <ul class="list-unstyled">
        <li><a class="btn btn-primary" href="{{ path('user_new') }}">Create a new entry</a></li>
    </ul>
{% endblock %}