{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User creation</h1>
    {{ form(form) }}
    <ul class="record_actions list-unstyled">
        <li><a class="btn btn-default" href="{{ path('user') }}">Back to the list</a></li>
    </ul>
{% endblock %}
