{% extends '::base.html.twig' %}
{% block body -%}
    <h1>{% trans %}User{% endtrans %}</h1>
    <table class="record_properties table">
        <tbody>
            <tr>
                <th>{% trans %}Username{% endtrans %}</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}Enabled{% endtrans %}</th>
                <td>
                    {% if entity.enabled %}
                        {% trans %}Yes{% endtrans %}
                    {% else %}
                        {% trans %}No{% endtrans %}
                    {% endif %}  
                </td>
            </tr>
            <tr>
                <th>{% trans %}Locked{% endtrans %}</th>
                <td>
                    {% if entity.locked %}
                        {% trans %}Yes{% endtrans %}
                    {% else %}
                        {% trans %}No{% endtrans %}
                    {% endif %}  
                </td>
            </tr>
            <tr>
                <th>{% trans %}Expired{% endtrans %}</th>
                <td>
                    {% if entity.expired %}
                        {% trans %}Yes{% endtrans %}
                    {% else %}
                        {% trans %}No{% endtrans %}
                    {% endif %}  
                </td>
            </tr>
            <tr>
                <th>{% trans %}Expires at{% endtrans %}</th>
                <td>
                    {% if entity.expiresAt is null %}
                        {% trans %}No expire date{% endtrans %}
                    {% else %}
                        {{ entity.expiresAt|date('Y-m-d H:i:s') }}
                    {% endif %} 
                </td>
            </tr>
            <tr>
                <th>{% trans %}Credentials expired{% endtrans %}</th>
                <td>
                    {% if entity.credentialsExpired %}
                        {% trans %}Yes{% endtrans %}
                    {% else %}
                        {% trans %}No{% endtrans %}
                    {% endif %}  
                </td>
            </tr>
            <tr>
                <th>{% trans %}Credentials expire at{% endtrans %}</th>
                <td>
                    {% if entity.credentialsExpireAt is null %}
                        {% trans %}No expire date{% endtrans %}
                    {% else %}
                        {{ entity.credentialsExpireAt|date('Y-m-d H:i:s') }}
                    {% endif %} 
                </td>
            </tr>
            <tr>
                <th>{% trans %}Groups{% endtrans %}</th>
                <td>
                    <ul class="list-unstyled">
                    {% for group in entity.groups %}
                        <li>{{ group.name }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions list-unstyled">
        <li><a class="btn btn-primary" href="{{ path('user_edit', { 'id': entity.id }) }}">Edit</a></li>
        <li>{{ form_delete(delete_form) }}</li>
        <li><a class="btn btn-default" href="{{ path('user') }}">Back to the list</a></li>
    </ul>
{% endblock %}
