{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}    
<div class="container">
    <form  action="{{ path("fos_user_security_check") }}" method="post" id="login" class="form-signin" role="form">
        <h2 class="form-signin-heading">{% trans from "messages" %}Please login{% endtrans %}</h2>
        {% if error %}
            <div class="text-danger">{% trans from "messages" %}Invalid username or password{% endtrans %}</div>
        {% endif %}   
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <input id="username" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required autofocus>
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required>
        <label for="remember_me" class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" checked>
            {{ 'security.login.remember_me'|trans }}
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans from "messages" %}Login{% endtrans %}</button>
    </form>
</div>
{% endblock fos_user_content %}
