{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/gallery/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/favorite/add.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        Gallery.noMoreResults = '{% trans %}No more results{% endtrans %}';
        Favorites.saveRoute = '{{ path('favorite_add') }}';
        Favorites.savePrompt = '{% trans %}Please enter a unique favorite name{% endtrans %}';
        Favorites.csrfToken = '{{ csrf_token('add-favorite') }}';
    </script>
{% endblock %}
{% block canvas %}
    <div id="canvas-container">
        <div class="gallery-mode-toggle mode-toggle-container">
            <button type="button" class="btn btn-primary mode-toggle-link"><span class="glyphicon glyphicon-chevron-left"></span>{% trans %}Back{% endtrans %}</button>
            <button type="button" class="btn btn-primary save-gallery-screenshot">
                <span class="glyphicon glyphicon-save"></span>
                {% trans %}Save{% endtrans %}
            </button>
        </div>
        <div id="canvas">
        </div>
    </div>
{% endblock %}
{% block menu %}
    {{ parent() }}
    <button type="button" class="btn btn-primary navbar-btn mode-toggle-link navbar-right">
        {% trans %}View Images{% endtrans %}
        <span id="number-of-selected-images" class="badge">0</span>
    </button>
{% endblock %} 
{% macro subFieldsHeader(fields) %}
    {% for key, field in fields %}
        {% if field is iterable %}
            <th>{{ key }}</th>
        {% else %}
            <th>{{ field }}</th>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro subFieldsDetail(field, fieldValue) %}
    {% import _self as macros %}
    <a href="{{ path('record_show', { 'id': fieldValue.id }) }}">{{ fieldValue.name }}</a>
    <table class="table table-striped dragtable">
        <thead><tr>{{ macros.subFieldsHeader(field) }}</tr></thead>
        <tbody><tr>{{ macros.subFieldsCell(field, fieldValue) }}</tr></tbody>
    </table>
{% endmacro %}
{% macro subFieldsCell(fields, entity) %}
    {% import _self as macros %}
    {% for key, field in fields %}
        {% if field is iterable %}
            {% set fieldValue = entity.__get(key) %}
            <td>
                {% if fieldValue is iterable %}
                    {% for subFieldValue in fieldValue %}
                        {{ macros.subFieldsDetail(field, subFieldValue) }}
                    {% endfor %}
                {% elseif fieldValue is not null %}
                    {{ macros.subFieldsDetail(field, fieldValue) }}
                {% endif %}
            </td>
        {% else %}
            {% set fieldFile = entity.getFieldValueFile(field) %}
            {% if fieldFile %}
                <td>
                    {% if entity.isFieldValueImage(field) %}
                        <a class="gallery-thumbnail-link"
                           href="javascript:void(0)">
                            <img class="gallery-thumbnail"
                                 alt="{{ fieldFile.originalName }}"
                                 src="{{ asset(fieldFile.webPathThumbnail) }}"
                                 data-image-url="{{ asset(fieldFile.webPath) }}" />
                        </a>
                    {% else %}
                        <a href="{{ asset(fieldFile.webPath) }}">
                            {{ fieldFile.originalName }}
                        </a>
                    {% endif %}
                </td>
            {% else %}
                {% set fieldValue = entity.__get(field) %}
                <td>{{ fieldValue }}</td>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
{% block body -%}
    {% import _self as macros %}
    <h1>{% trans %}Records{% endtrans %}
        {% if app.user %}
            <button type="button" class="save-search btn btn-primary">
                <span class="glyphicon glyphicon-star"></span>
            </button>
        {% endif %}
        <button type="button" class="print-page btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>
        </button>
        <button type="button" class="export-page-to-pdf btn btn-primary">
            <span class="fa fa-file-pdf-o"></span>
        </button>
    </h1>
    <div class="count bg-info">
        {% transchoice count %}
            {0} There are no records|{1} There is one record|]1,Inf] There are %count% records
        {% endtranschoice %}    
    </div>
{% if count > 0 %}
    <table class="table table-striped records_list dragtable gallery-table">
        <thead>
            <tr>
                <th>
                   {{ 'Name'|trans }}
                </th>
                <th>
                   {{'Record Type'|trans }}
                </th>
                   {{ macros.subFieldsHeader(shownFields) }}
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody class="gallery-results-table-body"></tbody>
    </table>
    <div class="navigation">
        <button type="button" class="btn btn-primary gallery-load-more has-spinner">
            {% trans %}More results{% endtrans %} <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
        </button>
    </div>
{% endif %}
<ul class="list-unstyled">
    <li><a href="{{ path('record_wizard') }}" class="btn btn-primary">{% trans %}New{% endtrans %}</a></li>
</ul>
{% endblock %}
