{% macro subFieldsHeader(fields) %}
    {% for key, field in fields %}
        {% if field is iterable %}
            <th>{{ key }}</th>
        {% else %}
            <th>{{ field }}</th>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro subFieldsDetail(field, fieldValue) %}
    {% import _self as macros %}
    <a href="{{ path('record_show', { 'id': fieldValue.id }) }}">{{ fieldValue.name }}</a>
    <table class="table table-striped dragtable">
        <thead><tr>{{ macros.subFieldsHeader(field) }}</tr></thead>
        <tbody><tr>{{ macros.subFieldsCell(field, fieldValue) }}</tr></tbody>
    </table>
{% endmacro %}
{% macro subFieldsCell(fields, entity) %}
    {% import _self as macros %}
    {% for key, field in fields %}
        {% if field is iterable %}
            {% set fieldValue = entity.__get(key) %}
            <td>
                {% if fieldValue is iterable %}
                    {% for subFieldValue in fieldValue %}
                        {{ macros.subFieldsDetail(field, subFieldValue) }}
                    {% endfor %}
                {% elseif fieldValue is not null %}
                    {{ macros.subFieldsDetail(field, fieldValue) }}
                {% endif %}
            </td>
        {% else %}
            {% set fieldFile = entity.getFieldValueFile(field) %}
            {% if fieldFile %}
                <td>
                    {% if entity.isFieldValueImage(field) %}
                        <a class="gallery-thumbnail-link" href="javascript:void(0)">
                            <img class="gallery-thumbnail"
                                 alt="{{ fieldFile.originalName }}"
                                 src="{{ asset(fieldFile.webPathThumbnail) }}"
                                 data-image-url="{{ asset(fieldFile.webPath) }}" />
                        </a>
                    {% else %}
                        <a href="{{ asset(fieldFile.webPath) }}">
                            {{ fieldFile.originalName }}
                        </a>
                    {% endif %}
                </td>
            {% else %}
                {% set fieldValue = entity.getValueAndType(field) %}
                {% if fieldValue['value'] is iterable %}
                    <td>
                        {% if fieldValue['type'] == 'Table' %}
                            <table class="table table-striped">
                                {% for row in fieldValue['value'] %}
                                    <tr>
                                        {% for cell in row %}
                                            <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <ul>
                                {% for value in fieldValue['value'] %}
                                    <li>{{ value }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                {% else %}
                    {% if fieldValue['type'] == 'Date' %}
                        <td>{{ fieldValue['value']|date('Y-m-d') }}</td>
                    {% elseif fieldValue['type'] == 'Time' %}
                        <td>{{ fieldValue['value']|date('H:i:s') }}</td>
                    {% elseif fieldValue['type'] == 'Date Time' %}
                        <td>{{ fieldValue['value']|date('Y-m-d H:i:s') }}</td>
                    {% else %}
                        <td>{{ fieldValue['value'] }}</td>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
{% import _self as macros %}
{% for entity in pagination %}
    <tr>
        <td><a href="{{ path('record_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
        <td>{{ entity.recordType.name }}</td>
        {{ macros.subFieldsCell(shownFields, entity) }}
        <td>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('record_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('record_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                </li>
            </ul>
        </td>
    </tr>
{% endfor %}