{% extends '::base.html.twig' %}
{% block body -%}
<h1>{% trans %}Advanced Gallery{% endtrans %} - <em>{{ recordType.name }}</em></h1>
{{ form_start(form) }}
    {% for field in form %}
        {% if form.submit == field %}
            {{ form_widget(field, {'attr': {'class': 'btn btn-primary'}}) }}
        {% else %}
            {{form_row(field)}}
        {% endif %}
    {% endfor %}
{{ form_end(form) }}
{% endblock %}
