{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/gallery/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/favorite/add.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        Gallery.noMoreResults = '{% trans %}No more results{% endtrans %}';
        Favorites.saveRoute = '{{ path('favorite_add') }}';
        Favorites.savePrompt = '{% trans %}Please enter a unique favorite name{% endtrans %}';
        Favorites.csrfToken = '{{ csrf_token('add-favorite') }}';
    </script>
{% endblock %}
{% block canvas %}
    <div id="canvas-container">
        <div class="gallery-mode-toggle mode-toggle-container">
            <button type="button" class="btn btn-primary mode-toggle-link"><span class="glyphicon glyphicon-chevron-left"></span>{% trans %}Back{% endtrans %}</button>
            <button type="button" class="btn btn-primary save-gallery-screenshot">
                <span class="glyphicon glyphicon-save"></span>
                {% trans %}Save{% endtrans %}
            </button>
        </div>
        <div id="canvas">
        </div>
    </div>
{% endblock %}
{% block menu %}
    {{ parent() }}
    <button type="button" class="btn btn-primary navbar-btn mode-toggle-link navbar-right">
        {% trans %}View Images{% endtrans %}
        <span id="number-of-selected-images" class="badge">0</span>
    </button>
{% endblock %} 
{% block body -%}
    <h1>{% trans %}Gallery{% endtrans %}
        {% if app.user %}
            <button type="button" class="save-search btn btn-primary">
                <span class="glyphicon glyphicon-star"></span>
            </button>
        {% endif %}
        <button type="button" class="print-page btn btn-primary">
            <span class="glyphicon glyphicon-print"></span>
        </button>
        <button type="button" class="export-page-to-pdf btn btn-primary">
            <span class="fa fa-file-pdf-o"></span>
        </button>
    </h1>
    <div class="count bg-info">
        {% transchoice count %}
            {0} There are no records|{1} There is one record|]1,Inf] There are %count% records
        {% endtranschoice %}    
    </div>
{% if count > 0 %}
    <table id='records-table' class="table table-striped records_list dragtable gallery-table">
        <thead>
            <tr>
                <th{% if pagination.isSorted('r.name') %} class="sorted"{% endif %}>
                   {{ knp_pagination_sortable(pagination, 'Name'|trans, 'r.name') }}
                </th>
                <th{% if pagination.isSorted('rt.name') %} class="sorted"{% endif %}>
                   {{ knp_pagination_sortable(pagination, 'Record Type'|trans, 'rt.name') }}
                </th>
                <th class="galery-values-header">{% trans %}Images{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('record_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.recordType.name }}</td>
                <td><div class="row sortable">
                        {% for fieldValue in entity.fieldValues %}
                            {% if fieldValue.recordTypeField.fieldType.name == 'Image' %}
                                <div class="col-md-4">
                                    <div>{{ fieldValue.recordTypeField.name }}</div>
                                    <div>
                                        <a class="gallery-thumbnail-link" href="javascript:void(0)">
                                            <img class="gallery-thumbnail"
                                                 alt="{{ fieldValue.storedFile.originalName }}"
                                                 src="{{ asset(fieldValue.webPathThumbnail) }}"
                                                 data-image-url="{{ asset(fieldValue.webPath) }}" />
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('record_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('record_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}
    <ul class="list-unstyled">
        <li><a href="{{ path('record_wizard') }}" class="btn btn-primary">{% trans %}New{% endtrans %}</a></li>
    </ul>
{% endblock %}
