{% set csrfToken = csrf_token('delete-favorite') %}
{% for entity in pagination %}
    <div class="favorite row" data-edit-route="{{ path('favorite_delete', {'id': entity.id}) }}" data-delete-route="{{ path('favorite_edit', {'id': entity.id}) }}" data-csrf-token="{{ csrfToken }}">
        <div class="col-xs-10 favorite-cell">
            <a class="show favorite-name" href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ entity.url }}">{{ entity.name }}</a>
            <form class="hidden form-inline favorite-edit-form">
                <input class="form-control" value="{{ csrfToken }}" type="hidden" name="csrfToken" />
                <input class="form-control favorite-edit-name" value="{{ entity.name }}" type="text" name="name" />
                <button type="button" class="btn btn-success submit"><span class="glyphicon glyphicon-ok-circle"></span></button>
                <button type="reset" class="btn btn-warning reset"><span class="glyphicon glyphicon-remove-circle"></span></button>
            </form>
        </div>
        <div class="col-xs-2">
            <button type="button" class="edit-favorite btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>    
            </button>
            <button type="button" class="delete-favorite btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>    
            </button>
        </div>
    </div>
{% endfor %}
