{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CrossingBordersXBundle/Resources/public/js/favorite/index.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        Favorites.deleteConfirmation = '{% trans %}Are you sure you want to delete this favorite?{% endtrans %}';
        Favorites.deleteError = '{% trans %}The selected favorite could not be deleted.{% endtrans %}';
        Favorites.editError = '{% trans %}The selected favorite could not be modified.{% endtrans %}';
        Favorites.noMoreFavorites = '{% trans %}There are no more favorites{% endtrans %}';
        Favorites.csrfToken = '{{ csrf_token('add-favorite') }}';
    </script>
{% endblock %}
{% block body -%}
    {% set csrfToken = csrf_token('delete-favorite') %}
    {% if type is null %}
        <h1>{% trans %}Favorites{% endtrans %}</h1>
    {% else %}
        <h1>{% trans %}Favorites{% endtrans %} - {{ type.name }}</h1>
    {% endif %}
    <div class="count bg-info">
        {% transchoice count %}
            {0} There are no favorites|{1} There is one favorite|]1,Inf] There are %count% favorites
        {% endtranschoice %}    
    </div>
    {% if count > 0 %}
        <div class="favorites">
            
        </div>
        <div class="navigation">
            <button type="button" class="btn btn-primary favorites-load-more has-spinner">
                {% trans %}Load more{% endtrans %} <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
        </div>
    {% endif %}
{% endblock %}