<ul class="dropdown-menu">
    <li><a href="{{ path('favorite') }}">{% trans %}All Favorites{% endtrans %}</a></strong></li>
    {% for favoriteType in entities %}
        <li><a href="{{ path('favorite' , {'typeId': favoriteType.id}) }}">{{ favoriteType.name }}</a></li>
    {% endfor %}
</ul>