<html>
    <head></head>
    <body>
        <h1>Message from CrossingBordersX</h1>
        <div>
            <p><strong>From:</strong> {{ name }} ({{ email }})</p>
            <p><strong>IP Address:</strong> {{ ip }}</p>
            <p><strong>Subject:</strong> {{ subject }}</p>
            <p><strong>Message:</strong></p>
        </div>
        <div>{{ message|raw }}</div>
    </body>
</html>