{% extends '::base.html.twig' %}
{% block body %}
    <h1>{% trans %}About{% endtrans %}</h1>
    <h3>CrossingBordersX</h3>
    <p><strong>{% trans %}Current Version{% endtrans %}:</strong> {{ version }}</p>
    <p>{% trans %}An ambitious document management system for conservation and restoration researchers licensed under the{% endtrans %} <a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html"> {% trans %}GNU GPLv3 license</a>.{% endtrans %}</p>       
    <p>{% trans %}You may access a user guide for the system {% endtrans %} <a href="{{ asset('uploads/userguide.pdf') }}">here</a> {% trans %}and the source code is available{% endtrans %} <a href="https://bitbucket.org/petersaints/crossingbordersx">here</a>.</p>
{% endblock %}