{% extends '::base.html.twig' %}
{% block body %}
    <h1>{% trans %}Contact{% endtrans %}</h1>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
        {{ flash }}
        </div>
        {% endfor %}
    {% endfor %}
    {{ form(form) }}
    <p>Alternatively you may send an e-mail to <a href="mailto:{{ emailAddress }}?Subject=Message from CrossingBordersX" target="_top">{{ emailAddress }}</a></p>
{% endblock %}